extends layout

block page_title
  title Dies ist der Seitentitel 

block greeting
  h1 Hallo Welt!
   
block software_engineer
  p Ich werde bald Softwareentwickler!
  img(src="/images/earth.jpg" alt="The Earth" title="The Earth")
